<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Register New User</h3>
    <div>
        <form method="post" action="/user/register">
            <label>Enter Your Name</label>
            <input type="text" name="name" placeholder="Enter Your Name">
            <br>
            <br>
            <label>Enter Your Email</label>
            <input type="email" name="email" placeholder="Enter Your Email">
            <br>
            <br>
            <label>Enter Your Password</label>
            <input type="password" name="password" placeholder="Enter Your Password">
            <br>
            <br>
            <button type="submit">Register</button>
        </form>
    </div>

</body>

</html>